# Author: Tanay Yadav 
# Roll No: AI20BTECH11026
# Assignment 3 Q5

In [57]:
# importing required libraries

import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.tree import DecisionTreeClassifier

In [31]:
# assigning respective datasets

train_set = pd.read_csv('loan_train.csv')
test_set = pd.read_csv('loan_test.csv')

## Processing the Training Dataset

In [32]:
train_set.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 111 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24999 non-null  int64
 1   member_id                       24999 non-null  int64
 2   loan_amnt                       24999 non-null  int64
 3   funded_amnt                     24999 non-null  int64
 4   funded_amnt_inv                 24999 non-null  float64
 5   term                            24999 non-null  object
 6   int_rate                        24999 non-null  object
 7   installment                     24999 non-null  float64
 8   grade                           24999 non-null  object
 9   sub_grade                       24999 non-null  object
 10  emp_title                       24993 non-null  object
 11  emp_length                      24958 non-null  object
 12  home_ownership                  24999 non-null  object
 13  annual_inc                      24999 non-null  float64
 14  verification_status             24999 non-null  object
 15  issue_d                         24999 non-null  object
 16  loan_status                     24999 non-null  object
 17  pymnt_plan                      24999 non-null  object
 18  url                             24999 non-null  object
 19  desc                            16807 non-null  object
 20  purpose                         24999 non-null  object
 21  title                           24991 non-null  object
 22  zip_code                        24999 non-null  object
 23  addr_state                      24999 non-null  object
 24  dti                             24999 non-null  float64
 25  delinq_2yrs                     24999 non-null  int64
 26  earliest_cr_line                24999 non-null  object
 27  inq_last_6mths                  24999 non-null  int64
 28  mths_since_last_delinq          8759 non-null   float64
 29  mths_since_last_record          1679 non-null   float64
 30  open_acc                        24999 non-null  int64
 31  pub_rec                         24999 non-null  int64
 32  revol_bal                       24999 non-null  int64
 33  revol_util                      24970 non-null  object
 34  total_acc                       24999 non-null  int64
 35  initial_list_status             24999 non-null  object
 36  out_prncp                       24999 non-null  float64
 37  out_prncp_inv                   24999 non-null  float64
 38  total_pymnt                     24999 non-null  float64
 39  total_pymnt_inv                 24999 non-null  float64
 40  total_rec_prncp                 24999 non-null  float64
 41  total_rec_int                   24999 non-null  float64
 42  total_rec_late_fee              24999 non-null  float64
 43  recoveries                      24999 non-null  float64
 44  collection_recovery_fee         24999 non-null  float64
 45  last_pymnt_d                    24954 non-null  object
 46  last_pymnt_amnt                 24999 non-null  float64
 47  next_pymnt_d                    698 non-null    object
 48  last_credit_pull_d              24999 non-null  object
 49  collections_12_mths_ex_med      24970 non-null  float64
 50  mths_since_last_major_derog     0 non-null      float64
 51  policy_code                     24999 non-null  int64
 52  application_type                24999 non-null  object
 53  annual_inc_joint                0 non-null      float64
 54  dti_joint                       0 non-null      float64
 55  verification_status_joint       0 non-null      float64
 56  acc_now_delinq                  24999 non-null  int64
 57  tot_coll_amt                    0 non-null      float64
 58  tot_cur_bal                     0 non-null      float64
 59  open_acc_6m                     0 non-null      float64
 60  open_il_6m                      0 non-null      float64
 61  open_il_12m                     0 non-null      float64
 62  open_il_24m                     0 non-null      float64
 63  mths_since_rcnt_il              0 non-null      float64
 64  total_bal_il                    0 non-null      float64
 65  il_util                         0 non-null      float64
 66  open_rv_12m                     0 non-null      float64
 67  open_rv_24m                     0 non-null      float64
 68  max_bal_bc                      0 non-null      float64
 69  all_util                        0 non-null      float64
 70  total_rev_hi_lim                0 non-null      float64
 71  inq_fi                          0 non-null      float64
 72  total_cu_tl                     0 non-null      float64
 73  inq_last_12m                    0 non-null      float64
 74  acc_open_past_24mths            0 non-null      float64
 75  avg_cur_bal                     0 non-null      float64
 76  bc_open_to_buy                  0 non-null      float64
 77  bc_util                         0 non-null      float64
 78  chargeoff_within_12_mths        24970 non-null  float64
 79  delinq_amnt                     24999 non-null  int64
 80  mo_sin_old_il_acct              0 non-null      float64
 81  mo_sin_old_rev_tl_op            0 non-null      float64
 82  mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83  mo_sin_rcnt_tl                  0 non-null      float64
 84  mort_acc                        0 non-null      float64
 85  mths_since_recent_bc            0 non-null      float64
 86  mths_since_recent_bc_dlq        0 non-null      float64
 87  mths_since_recent_inq           0 non-null      float64
 88  mths_since_recent_revol_delinq  0 non-null      float64
 89  num_accts_ever_120_pd           0 non-null      float64
 90  num_actv_bc_tl                  0 non-null      float64
 91  num_actv_rev_tl                 0 non-null      float64
 92  num_bc_sats                     0 non-null      float64
 93  num_bc_tl                       0 non-null      float64
 94  num_il_tl                       0 non-null      float64
 95  num_op_rev_tl                   0 non-null      float64
 96  num_rev_accts                   0 non-null      float64
 97  num_rev_tl_bal_gt_0             0 non-null      float64
 98  num_sats                        0 non-null      float64
 99  num_tl_120dpd_2m                0 non-null      float64
 100 num_tl_30dpd                    0 non-null      float64
 101 num_tl_90g_dpd_24m              0 non-null      float64
 102 num_tl_op_past_12m              0 non-null      float64
 103 pct_tl_nvr_dlq                  0 non-null      float64
 104 percent_bc_gt_75                0 non-null      float64
 105 pub_rec_bankruptcies            24582 non-null  float64
 106 tax_liens                       24982 non-null  float64
 107 tot_hi_cred_lim                 0 non-null      float64
 108 total_bal_ex_mort               0 non-null      float64
 109 total_bc_limit                  0 non-null      float64
 110 total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 21.2+ MB

In [33]:
# moving the target variable to the last column of the dataframe
train_set = train_set[[c for c in train_set if c not in ['loan_status']] + ['loan_status']]

# dropping the columns having all the values as NAN
train_set = train_set.dropna(axis=1, how='all')

In [34]:
# dropping the columns having all values as the same
nunique = train_set.nunique()
cols_to_drop = nunique[nunique == 1].index
train_set = train_set.drop(cols_to_drop, axis=1)

# dropping the useless columns
train_set = train_set.drop(columns=['next_pymnt_d','id','member_id','total_rec_late_fee', 'collection_recovery_fee','earliest_cr_line','last_pymnt_d','sub_grade'])
train_set = train_set.drop(columns=['last_pymnt_amnt','url','emp_title','out_prncp','out_prncp_inv','funded_amnt','zip_code','addr_state','pub_rec_bankruptcies'])
train_set = train_set.drop(columns=['funded_amnt_inv','mths_since_last_delinq','mths_since_last_record','desc','last_credit_pull_d','verification_status','term'])
train_set = train_set.drop(columns=['purpose','issue_d','title','delinq_2yrs','total_pymnt_inv','open_acc', 'pub_rec', 'revol_bal','revol_util','total_acc','grade'])

In [35]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   loan_amnt        24999 non-null  int64
 1   int_rate         24999 non-null  object
 2   installment      24999 non-null  float64
 3   emp_length       24958 non-null  object
 4   home_ownership   24999 non-null  object
 5   annual_inc       24999 non-null  float64
 6   dti              24999 non-null  float64
 7   inq_last_6mths   24999 non-null  int64
 8   total_pymnt      24999 non-null  float64
 9   total_rec_prncp  24999 non-null  float64
 10  total_rec_int    24999 non-null  float64
 11  recoveries       24999 non-null  float64
 12  loan_status      24999 non-null  object
dtypes: float64(7), int64(2), object(4)
memory usage: 2.5+ MB

In [36]:
# ignoring the datapoints corresponding to 'Current' target variable as it is of no use for this problem
train_set = train_set[train_set.loan_status != 'Current']
# train_set

In [37]:
# filling the NAN values with the modal value for emp_length
freq = train_set.emp_length.dropna().mode()
print(freq,'\n')

0    10+ years
dtype: object

In [38]:
# filling the NAN values with the modal value 
train_set['emp_length']=train_set['emp_length'].fillna('10+ years')

# converting the strings to float 
train_set['emp_length'].replace('10+ years', '10 years',inplace=True)
train_set['emp_length'].replace('< 1 year', '1 years',inplace=True)
train_set['emp_length'].replace('1 year', '1 years',inplace=True)
train_set['emp_length'] = train_set['emp_length'].str.rstrip(' years').astype('float')

# converting strings to float
train_set['home_ownership'].replace('RENT', 0,inplace=True)
train_set['home_ownership'].replace('OWN', 1,inplace=True)
train_set['home_ownership'].replace('MORTGAGE', 2,inplace=True)
train_set['home_ownership'].replace('OTHER', 3,inplace=True)

train_set['loan_status'].replace('Charged Off', -1, inplace=True)
train_set['loan_status'].replace('Fully Paid', 1, inplace=True)

# removing the % sign from the percentages and replacing the strings as float
train_set['int_rate'] = train_set['int_rate'].str.rstrip('%').astype('float') / 100.0
# train_set

In [39]:
# assigning the target variable to train_labels
train_labels = train_set['loan_status']
train_set = train_set.drop(['loan_status'],axis=1)
# train_labels

## Processing the Test Dataset
Everything is processed similar to the Training Dataset

In [40]:
test_set = test_set[[c for c in test_set if c not in ['loan_status']] + ['loan_status']]
test_set = test_set.dropna(axis=1, how='all')
test_set.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14718 entries, 0 to 14717
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          14718 non-null  int64
 1   member_id                   14718 non-null  int64
 2   loan_amnt                   14718 non-null  int64
 3   funded_amnt                 14718 non-null  int64
 4   funded_amnt_inv             14718 non-null  float64
 5   term                        14718 non-null  object
 6   int_rate                    14718 non-null  object
 7   installment                 14718 non-null  float64
 8   grade                       14718 non-null  object
 9   sub_grade                   14718 non-null  object
 10  emp_title                   12265 non-null  object
 11  emp_length                  13684 non-null  object
 12  home_ownership              14718 non-null  object
 13  annual_inc                  14718 non-null  float64
 14  verification_status         14718 non-null  object
 15  issue_d                     14718 non-null  object
 16  pymnt_plan                  14718 non-null  object
 17  url                         14718 non-null  object
 18  desc                        9970 non-null   object
 19  purpose                     14718 non-null  object
 20  title                       14715 non-null  object
 21  zip_code                    14718 non-null  object
 22  addr_state                  14718 non-null  object
 23  dti                         14718 non-null  float64
 24  delinq_2yrs                 14718 non-null  int64
 25  earliest_cr_line            14718 non-null  object
 26  inq_last_6mths              14718 non-null  int64
 27  mths_since_last_delinq      5276 non-null   float64
 28  mths_since_last_record      1107 non-null   float64
 29  open_acc                    14718 non-null  int64
 30  pub_rec                     14718 non-null  int64
 31  revol_bal                   14718 non-null  int64
 32  revol_util                  14697 non-null  object
 33  total_acc                   14718 non-null  int64
 34  initial_list_status         14718 non-null  object
 35  out_prncp                   14718 non-null  float64
 36  out_prncp_inv               14718 non-null  float64
 37  total_pymnt                 14718 non-null  float64
 38  total_pymnt_inv             14718 non-null  float64
 39  total_rec_prncp             14718 non-null  float64
 40  total_rec_int               14718 non-null  float64
 41  total_rec_late_fee          14718 non-null  float64
 42  recoveries                  14718 non-null  float64
 43  collection_recovery_fee     14718 non-null  float64
 44  last_pymnt_d                14692 non-null  object
 45  last_pymnt_amnt             14718 non-null  float64
 46  next_pymnt_d                442 non-null    object
 47  last_credit_pull_d          14716 non-null  object
 48  collections_12_mths_ex_med  14691 non-null  float64
 49  policy_code                 14718 non-null  int64
 50  application_type            14718 non-null  object
 51  acc_now_delinq              14718 non-null  int64
 52  chargeoff_within_12_mths    14691 non-null  float64
 53  delinq_amnt                 14718 non-null  int64
 54  pub_rec_bankruptcies        14438 non-null  float64
 55  tax_liens                   14696 non-null  float64
 56  loan_status                 14718 non-null  object
dtypes: float64(20), int64(13), object(24)
memory usage: 6.4+ MB

In [41]:
nunique = test_set.nunique()
cols_to_drop = nunique[nunique == 1].index
test_set = test_set.drop(cols_to_drop, axis=1)

test_set = test_set.drop(columns=['next_pymnt_d','id','member_id','total_rec_late_fee', 'collection_recovery_fee','earliest_cr_line','last_pymnt_d','sub_grade'])
test_set = test_set.drop(columns=['last_pymnt_amnt','url','emp_title','out_prncp','out_prncp_inv','funded_amnt','zip_code','addr_state','pub_rec_bankruptcies'])
test_set = test_set.drop(columns=['funded_amnt_inv','mths_since_last_delinq','mths_since_last_record','desc','last_credit_pull_d','verification_status','term'])
test_set = test_set.drop(columns=['purpose','issue_d','title','delinq_2yrs','total_pymnt_inv','open_acc', 'pub_rec', 'revol_bal','revol_util','total_acc','grade'])
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14718 entries, 0 to 14717
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   loan_amnt        14718 non-null  int64
 1   int_rate         14718 non-null  object
 2   installment      14718 non-null  float64
 3   emp_length       13684 non-null  object
 4   home_ownership   14718 non-null  object
 5   annual_inc       14718 non-null  float64
 6   dti              14718 non-null  float64
 7   inq_last_6mths   14718 non-null  int64
 8   total_pymnt      14718 non-null  float64
 9   total_rec_prncp  14718 non-null  float64
 10  total_rec_int    14718 non-null  float64
 11  recoveries       14718 non-null  float64
 12  loan_status      14718 non-null  object
dtypes: float64(7), int64(2), object(4)
memory usage: 1.5+ MB

In [42]:
test_set = test_set[test_set.loan_status != 'Current']
# test_set = test_set[test_set.home_ownership != 'NONE']
# test_set

In [43]:
freq_t = test_set.emp_length.dropna().mode()
print(freq_t,'\n')

0    10+ years
dtype: object

In [44]:
test_set['emp_length']=test_set['emp_length'].fillna('10+ years')
test_set['emp_length'].replace('10+ years', '10 years',inplace=True)
test_set['emp_length'].replace('< 1 year', '1 years',inplace=True)
test_set['emp_length'].replace('1 year', '1 years',inplace=True)
test_set['emp_length'] = test_set['emp_length'].str.rstrip(' years').astype('float')

test_set['home_ownership'].replace('RENT', 0,inplace=True)
test_set['home_ownership'].replace('OWN', 1,inplace=True)
test_set['home_ownership'].replace('MORTGAGE', 2,inplace=True)
test_set['home_ownership'].replace('OTHER', 3,inplace=True)
test_set['home_ownership'].replace('NONE', 4,inplace=True)

test_set['loan_status'].replace('Charged Off', -1, inplace=True)
test_set['loan_status'].replace('Fully Paid', 1, inplace=True)


test_set['int_rate'] = test_set['int_rate'].str.rstrip('%').astype('float') / 100.0
# test_set

In [45]:
test_labels = test_set['loan_status']
test_set = test_set.drop(['loan_status'],axis=1)

## Importing the GradientBoostingClassifier from sklearn.ensemble

In [46]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=3, random_state=0)

In [47]:
# fitting the classifier with the training data
clf.fit(train_set, train_labels)

GradientBoostingClassifier(learning_rate=1.0, random_state=0)

In [48]:
y_train = clf.predict(train_set)
print('Generalisation Error =', 1-accuracy_score(y_train, train_labels))

Generalisation Error = 0.0014814205176741924

In [49]:
y_test = clf.predict(test_set)
print('Validation Error =', 1-accuracy_score(y_test, test_labels))

Validation Error = 0.004483048472961659

In [50]:
recall = recall_score(y_test, test_labels, average='binary')
print('Recall =', recall)

Recall = 0.9964594483326472

In [51]:
precision = precision_score(y_test, test_labels, average='binary')
print('Precision =', precision)

Precision = 0.9982677555060628

In [62]:
# number of trees = 30
print('For 30 trees in the classifier')
clf = GradientBoostingClassifier(n_estimators=30, learning_rate=1.0, max_depth=1, random_state=0)
clf.fit(train_set, train_labels)
y_train = clf.predict(train_set)
print('Generalisation Error =', 1-accuracy_score(y_train, train_labels))
y_test = clf.predict(test_set)
print('Validation Error =', 1-accuracy_score(y_test, test_labels))
recall = recall_score(y_test, test_labels, average='binary')
print('Recall =', recall)
precision = precision_score(y_test, test_labels, average='binary')
print('Precision =', precision)

For 30 trees in the classifier
Generalisation Error = 0.022303608904983285
Validation Error = 0.023816195012608565
Recall = 0.9732508635231746
Precision = 0.9994225851686876

In [53]:
# number of trees = 60
print('For 60 trees in the classifier')
clf = GradientBoostingClassifier(n_estimators=60, learning_rate=1.0, max_depth=3, random_state=0)
clf.fit(train_set, train_labels)
y_train = clf.predict(train_set)
print('Generalisation Error =', 1-accuracy_score(y_train, train_labels))
y_test = clf.predict(test_set)
print('Validation Error =', 1-accuracy_score(y_test, test_labels))
recall = recall_score(y_test, test_labels, average='binary')
print('Recall =', recall)
precision = precision_score(y_test, test_labels, average='binary')
print('Precision =', precision)

For 60 trees in the classifier
Generalisation Error = 0.0014814205176741924
Validation Error = 0.004483048472961659
Recall = 0.9964594483326472
Precision = 0.9982677555060628

In [54]:
# number of trees = 80
print('For 80 trees in the classifier')
clf = GradientBoostingClassifier(n_estimators=80, learning_rate=1.0, max_depth=3, random_state=0)
clf.fit(train_set, train_labels)
y_train = clf.predict(train_set)
print('Generalisation Error =', 1-accuracy_score(y_train, train_labels))
y_test = clf.predict(test_set)
print('Validation Error =', 1-accuracy_score(y_test, test_labels))
recall = recall_score(y_test, test_labels, average='binary')
print('Recall =', recall)
precision = precision_score(y_test, test_labels, average='binary')
print('Precision =', precision)

For 80 trees in the classifier
Generalisation Error = 0.0014814205176741924
Validation Error = 0.004483048472961659
Recall = 0.9964594483326472
Precision = 0.9982677555060628

In [55]:
# number of trees = 100
print('For 100 trees in the classifier')
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=3, random_state=0)
clf.fit(train_set, train_labels)
y_train = clf.predict(train_set)
print('Generalisation Error =', 1-accuracy_score(y_train, train_labels))
y_test = clf.predict(test_set)
print('Validation Error =', 1-accuracy_score(y_test, test_labels))
recall = recall_score(y_test, test_labels, average='binary')
print('Recall =', recall)
precision = precision_score(y_test, test_labels, average='binary')
print('Precision =', precision)

For 100 trees in the classifier
Generalisation Error = 0.0014814205176741924
Validation Error = 0.004483048472961659
Recall = 0.9964594483326472
Precision = 0.9982677555060628

The Classifier with 100 trees provides the lowest training and testing errors along with the best recall and precision over the test dataset.

In [61]:
clf_tree = DecisionTreeClassifier(max_depth=7)
print('For a single Decision Tree:')
clf_tree.fit(train_set, train_labels)
y_tree_train = clf_tree.predict(train_set)
print('Generalisation Error =', 1-accuracy_score(y_tree_train, train_labels))

y_tree_test = clf_tree.predict(test_set)
print('Validation Error =', 1-accuracy_score(y_tree_test, test_labels))

For a single Decision Tree:
Generalisation Error = 0.003827003003991636
Validation Error = 0.004763239002521735

Hence,   
For a single Decision Tree:  
Generalisation Error = 0.003827003003991636  
Validation Error = 0.004763239002521735  

and,  
For 100 trees in the classifier   
Generalisation Error = 0.0014814205176741924   
Validation Error = 0.004483048472961659    
Recall = 0.9964594483326472   
Precision = 0.9982677555060628   
  
Hence, the GradientBoostingClassifier provides better accuracy over the training and the testing datasets