# Tanay Yadav
# Assignment 4
# Q6

In [55]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor

In [56]:
train_data = pd.read_csv('train.csv', nrows=1000000)

In [57]:
train_data.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [58]:
test_data = pd.read_csv('test.csv')

In [59]:
train_data.dropna(axis=0, inplace=True)
train_data.drop(['key'], axis=1, inplace=True)

In [60]:
train_data = train_data[train_data.fare_amount>=0]
train_data

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
999995,7.0,2014-09-13 21:44:38 UTC,-73.976676,40.785630,-73.959196,40.775114,1
999996,7.3,2010-09-20 14:50:37 UTC,-73.992103,40.671385,-73.992103,40.671385,2
999997,10.5,2013-04-26 14:03:00 UTC,-73.978423,40.751135,-73.993397,40.762197,5
999998,6.9,2011-07-08 00:29:00 UTC,-73.980317,40.759482,-73.976832,40.743122,1
999999,4.1,2009-12-31 14:30:00 UTC,-74.006635,40.741598,-73.999450,40.745702,1

In [61]:
new = train_data['pickup_datetime'].str.split(" ", n = 2, expand = True)
train_data['pickup_datetime'] = new[1]

In [62]:
new = train_data['pickup_datetime'].str.split(":", n = 2, expand = True)
train_data['pickup_datetime'] = new[0].astype(int)

In [63]:
train_data['pickup_datetime'].replace([0,1,2,3,4,5,6,7,20,21,22,23], 1,inplace=True)
train_data['pickup_datetime'].replace([8,9,10,11,12,13,14,15,16,17,18,19], 0,inplace=True)

In [64]:
train_data

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,0,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,0,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,1,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,1,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,1,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
999995,7.0,1,-73.976676,40.785630,-73.959196,40.775114,1
999996,7.3,0,-73.992103,40.671385,-73.992103,40.671385,2
999997,10.5,0,-73.978423,40.751135,-73.993397,40.762197,5
999998,6.9,1,-73.980317,40.759482,-73.976832,40.743122,1
999999,4.1,0,-74.006635,40.741598,-73.999450,40.745702,1

In [65]:
train_labels = train_data.fare_amount

In [66]:
temp = train_data
train_data.drop(['fare_amount'], axis=1, inplace=True)
# train_data['longitude_dif'] = train_data['dropoff_longitude'] - train_data['pickup_longitude']
# train_data['latitude_dif'] = train_data['dropoff_latitude'] - train_data['pickup_latitude']
# train_data.drop(['pickup_latitude', 'dropoff_latitude', 'dropoff_longitude', 'pickup_longitude'], axis=1, inplace=True)

In [15]:
key = test_data.key
test_data.drop(['key'], axis=1, inplace=True)
new = test_data['pickup_datetime'].str.split(" ", n = 2, expand = True)
test_data['pickup_datetime'] = new[1]
new = test_data['pickup_datetime'].str.split(":", n = 2, expand = True)
test_data['pickup_datetime'] = new[0].astype(int)
test_data['pickup_datetime'].replace([0,1,2,3,4,5,6,7,20,21,22,23], 1,inplace=True)
test_data['pickup_datetime'].replace([8,9,10,11,12,13,14,15,16,17,18,19], 0,inplace=True)
# test_data['longitude_dif'] = test_data['dropoff_longitude'] - test_data['pickup_longitude']
# test_data['latitude_dif'] = test_data['dropoff_latitude'] - test_data['pickup_latitude']
# test_data.drop(['pickup_latitude', 'dropoff_latitude', 'dropoff_longitude', 'pickup_longitude'], axis=1, inplace=True)

In [20]:
forest = RandomForestRegressor(n_estimators=100)
forest.fit(train_data, train_labels)

RandomForestRegressor()

In [21]:
y_forest = forest.predict(test_data)

In [22]:
dict_forest = {'key': key, 'fare_amount': y_forest}
submission = pd.DataFrame(dict_forest)
submission.to_csv('Forest_submission.csv', index=False)

In [23]:
reg_boost = GradientBoostingRegressor(n_estimators=100)
reg_boost.fit(train_data, train_labels)

GradientBoostingRegressor()

In [24]:
y_gradient = reg_boost.predict(test_data)

In [25]:
dict_gradient = {'key': key, 'fare_amount': y_gradient}
submission = pd.DataFrame(dict_gradient)
submission.to_csv('Gradient_submission.csv', index=False)

In [26]:
linear_reg = LinearRegression()
linear_reg.fit(train_data,train_labels)

LinearRegression()

In [27]:
y_linear = linear_reg.predict(test_data)

In [28]:
dict_linear = {'key': key, 'fare_amount': y_linear}
submission = pd.DataFrame(dict_linear)
submission.to_csv('Linear_submission.csv', index=False)

In [29]:
adaboost_reg = AdaBoostRegressor(n_estimators=2000, learning_rate=2)
adaboost_reg.fit(train_data, train_labels)

AdaBoostRegressor(learning_rate=2, n_estimators=2000)

In [30]:
y_adaboost = adaboost_reg.predict(test_data)

In [31]:
dict_adaboost = {'key': key, 'fare_amount': y_adaboost}
submission = pd.DataFrame(dict_adaboost)
submission.to_csv('Adaboost_submission.csv', index=False)

In [16]:
neighbor_reg = KNeighborsRegressor(n_neighbors=7)
neighbor_reg.fit(train_data, train_labels)

KNeighborsRegressor(n_neighbors=7)

In [18]:
y_neighbor = neighbor_reg.predict(test_data)

In [19]:
dict_neighbor = {'key': key, 'fare_amount': y_neighbor}
submission = pd.DataFrame(dict_neighbor)
submission.to_csv('KNeighbor_submission.csv', index=False)

$\textbf{Report:}$  
The below mentioned regression models were implemented on the first 1 million columns of the given training dataset:   
1. Gradient Boosting Regressor.  
2. Linear Regression.  
3. Random Forest Regressor.   
4. AdaBoost Regressor.   
5. K Neighbors Regressor.  

Out of these, two of the best performing models were:   
1. Gradient Boosting Regressor(n_estimators=100) - MSE = 3.79889   
2. K Neighbors Regressor(k=7) - MSE = 3.97716   
The Gradient Boosting Regressor was trained with 100 estimators with the default max depth and the K Neighbors Regressor was trained with 7 neighbors.    
   
The Gradient Boosting Regressor is robust to overfitting and hence, this model performs well upon increasing the number of estimators. As this regressor combines various models with each model improving upon the previous one, the performance is much better.    
       
The KNN Regressor performed well owing to the similarity in the column features. Since, the longitudes and latitudes can be used to relate distance on similar scales, the KNN regressor works pretty well.